@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Roboto&display=swap');
@font-face { font-family: cocogoosePro; src: url('Cocogoose Pro Regular Trial.ttf'); } 
@font-face { font-family: cocogooseProBlock; src: url('utility/Fonts/Cocogoose Pro Block Border Trial.ttf'); }
@font-face { font-family: cocogooseProLine; src: url('utility/Fonts/Cocogoose Pro Block Innerline Trial.ttf'); }
@font-face { font-family: cocogooseProReg; src: url('utility/Fonts/Cocogoose Pro Regular Trial.ttf'); }
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Josefin+Sans:wght@200;600;700&family=Lato:ital,wght@1,300&family=Paytone+One&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body {
    background-color: #292a2f;
    text-align: center;
    padding-top: 5%;
}
h1{
    
  font-family: 'Paytone One', sans-serif;
  font-size: 60px;
  color: #edf0f1;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  font-style: bold;
  font-size: 35px;
  color: #edf0f1;
  text-align: left;
}

.contact{
    text-align: center;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: #c7c7c7;
    text-align: left; 
}


.title{
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    font-size: 200px;
    padding-top: 1%;
    position: center;
    padding-bottom: 2.5%;
}

.subTitle{
    padding-bottom: 1%;
}

.main {
    list-style: none;
    color: #edf0f1;
    text-align: left;
    width: 40%;
    position:relative;
    left: 30%;
}

ul{
    list-style: circle;
}

.dotted{
    padding-left: 20px;
}

.dotted li{
    text-decoration: dotted;
}
 
li {
    display:flex;
    font-size: 30px;
    font-family: 'Paytone One', sans-serif;
    text-align: center;
    
}

li a { 
    transition: all 0.3s ease 0;
    text-align: center;
    text-decoration: none;
    color: #edf0f1;
}

.footer{
    font-family: 'Paytone One', sans-serif;
    padding-top: 15%;
    padding-bottom: 5%;
    color: #edf0f1;
    text-align: center;
    align-content: center;
    font-size: 15px;
}

.back{
    color: #edf0f1;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
}

.text{
    padding-top: 2%;

}

